.table{

    width: 100% !important;
}

.machine-image{
    height: 150px;
    margin: auto;
    display: block;
}

.error{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    margin: auto;
}