

<ion-header>
  <ion-toolbar color="secondary" >
    <ion-title>More info</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="closeModal()">
        CLOSE
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"  >
  <h3>Age</h3>
  <p>{{moreInfo.age}}</p>
  <hr/>
  
  <h3>Height</h3>
  <p>{{moreInfo.height}} cm</p>
  <hr/>
  
  <h3>Weight</h3>
  <p>{{moreInfo.Weight}} KG</p>
  <hr/>
  
  <h3>Waist size</h3>
  <p>{{moreInfo.waist}} cm</p>
  <hr/>
  
  <h3>Been training for </h3>
  <p>{{moreInfo.since}}</p>
  <hr/>
  
  <h3>Training time</h3>
  <p>{{moreInfo.time}}</p>
  <hr/>
  
  <h3>Food problems</h3>
  <p>{{moreInfo.food}}</p>
  <hr/>
  
  <h3>Use to follow a diet</h3>
  <p>{{moreInfo.diet}}</p>
  <hr/>
  
  <h3>Health problems</h3>
  <p>{{moreInfo.health}}</p>
  <hr/>
  
  <h3>Goal</h3>
  <p>{{moreInfo.goal}}</p>
  <hr/>
  
  <h3>More info</h3>
  <p>{{moreInfo.more}}</p>
  <hr/>
  
  

</ion-content>

