<ion-header>
  <ion-toolbar color="secondary" >
    <ion-title>Training details</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-progress-bar type="indeterminate" *ngIf="isLoading" color="warning"></ion-progress-bar>
<ion-content >



  <ion-grid>
    
    
    <ion-row>
      <div class="error" *ngIf="errorLoading">
        <ion-text>
          Something went wrong, please try to refresh the page<br/>
          <ion-button color="warning" size="small" (click)="getGymInfo()">refresh</ion-button>
          
        </ion-text>
      </div>
    </ion-row>
    



    <ion-row *ngIf="hasAGym">

      <ion-col size="12" >
        <ion-card >
          <ion-card-content>
            <p>
              Welcome to your Workout Creator, start creating your workout plans now.
            </p>

          </ion-card-content>
        </ion-card>





        <!--step 1-->
        <ion-card *ngIf="step == 1" >
          <ion-card-header>
            <ion-card-title>Update workout plan</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="step1Form" (ngSubmit)="nexStep()" >
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Title</ion-label>
                  <ion-input formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Goal</ion-label>
                  <ion-input formControlName="goal"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">body section</ion-label>
                  <ion-input formControlName="bodySection"></ion-input>
                </ion-item>


                
              
              <ion-item>
                <ion-label position="floating" >Duration (weeks)</ion-label>
                <ion-input type="number" formControlName="duration"></ion-input>
              </ion-item>
            </ion-list>
            <div>
              <ion-button color="primary" [disabled]="! step1Form.valid" type="submit">NEXT</ion-button>
            </div>

            </form>
          </ion-card-content>
        </ion-card>
        <!--end of step 1-->



        <!--step 2-->
          <div *ngIf="step == 2">
            <ion-card  >

               
                  <ion-card-header>
                    <ion-card-title>{{daysArr[days]}}</ion-card-title>
                    <ion-card-subtitle>Joint exercises for this day</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>


                  
                  <div *ngIf="tmpExerseciesArrayPerDay.length != 0">
                    <h6 >Table of exercises {{ tmpExerseciesArrayPerDay.length }} </h6>
                    
                    <table class="table" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Sets</th>
                          <th>Reps</th>
                          <th>Pause</th>
                          <th>Body section</th>
                          <th>Action</th>
                          

                        </tr>
                      </thead>
                      <tbody *ngFor="let e of tmpExerseciesArrayPerDay;let i = index;">
                        <tr>
                          <td>
                            {{e.exercice.title_exercice}}
                          </td>
                          <td>
                            {{e.exercice.sets}}
                          </td>
                          <td>
                            {{e.exercice.reps}}
                          </td>
                          <td>
                            {{e.exercice.pause}}
                          </td>
                          <td>
                            {{e.exercice.body_section}}
                          </td>
                          
                          <td>
                            <ion-icon  name="trash-outline" color="danger" style="cursor: pointer;margin-right: 15px;font-size: 25px;" (click)="removeExercice(i)"></ion-icon>
                            <ion-icon name="create-outline" color="primary" style="cursor: pointer;font-size: 25px;" (click)="editExercie(i)"></ion-icon>
                          </td>
                          
                          
                        </tr>
                      </tbody>
                    </table>

                    <ion-item>
                      <ion-label position="floating" >Group muscles</ion-label>
                      <ion-input type="text" disabled [(ngModel)]="groupMusclesInput"></ion-input>
                    </ion-item>



                        
                  </div>
  
                  <div *ngIf="tmpExerseciesArrayPerDay.length == 0">
                    <p>No exercise assigned for this day at the moment</p>
                  </div>
               

              
    
              <div *ngIf="step > 1">
                <div *ngIf="days != 7">
                  <ion-button color="primary"  (click)="goToNextDay()" [disabled]="tmpExerseciesArrayPerDay.length == 0">CONFIRM & GO</ion-button>
                  <ion-button color="secondary"  (click)="skipDay()" >NEXT</ion-button>
                </div>
                <div *ngIf="days == 7">
                  <ion-button color="secondary"  (click)="doneMakingProgram()" >DONE</ion-button>
                </div>
              </div>
    
              </ion-card-content>
            </ion-card>
    
            <ion-card>
              <ion-card-header>
                <ion-card-title>Add exercise panel </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div  >
                  <form [formGroup]="step2Form" (ngSubmit)="nexStep()" >

                    <ion-item>
                      <ion-label>Exercice</ion-label>
                      <ion-select formControlName="exercice" interface="action-sheet" (ionChange)="updateMachineDetailsVariable()"  placeholder="Choose an exercice to add">
                        <ion-select-option *ngFor="let ex of exercicesFromDataBase" [value]="ex">{{ex.title_exercice}}</ion-select-option>
                        
                      </ion-select>
                    </ion-item>

                  </form>


                  <ion-button color="primary"  (click)="addexercice()" [disabled]=" ! step2Form.valid ">ADD EXERCISE</ion-button>
      
                  
                </div>          
                
              </ion-card-content>
            </ion-card>
          </div>
        <!--end of step 2-->
        


      </ion-col>
      
    </ion-row>



  </ion-grid>

</ion-content>
